* {
    padding: 0;
    margin: 0;
}


.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    background: #374151;
}

.cover, .details {
    height: 100%;
}

.cover{
    width: 40%;
    background-image: url("../img/andre-benz-ZoWPMjUZsBs-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.banner{
    width: 100%;
    height: 20%;
    background-color: #142c37;
    margin-top: 30%;
    opacity: 0.65;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text {
    color: #fdfdfc;
    font-size: 2rem;
    font-weight:bolder;
    text-shadow: 0 0 10px #f4dbd8;
    padding: 0;
    margin-right: 5%;
}

.logo {
    background-image: url('./../img/fox_4.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 30%;
    padding: 0;
    margin-left: 5%;
}

.details {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.description, .bottom {
    height: 33%;
    width: 100%;
    background-color: whitesmoke;
}

.form-container {
    height: 34%;
    width: 100%;
    background-color: #fdfdfc;
}
form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 2em;
    /* padding: 3rem; */
    /* align-items: flex-end; */
}
fieldset > div {
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
}
fieldset {
    display: flex;
    justify-content:flex-start;
    border: 0;
    font-size: 10px;
    font-weight: 400;
    /* margin-left: ; */
    /* flex-direction: column; */
}

button {
    height: 2rem;
  width: 20%;
}

.button-container {
    height: 15%;
    width: 100%;
    background-color: whitesmoke;
}

.input-container {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 2px 5px 10px -5px #374151;
    
}
